<header>
    <div style="border: 1px solid black; width: 700px; margin-left: 20px">
        <p style="color:orange; padding-left: 20px"> HEADER: found in views/shared/_header.html.erb. <p>
        <p style= " padding-left: 20px"> <i>This can be shared by multiple views.</i></p>
    </div>
<header>