<div>
    <p style="color: gray; font-family: courier; font-size: 120%; margin-left: 30px">PARTIAL found at: views/dojos/_student_partial.html.erb. A paragraph that can be in all views.</p>
    <p style="color: gray; font-family: courier; margin-left: 30px"><i>The full params are: <%=params%></i></p>
</div>